<section class="login-form-wrapper container">
    <div class="h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-7 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-header h4">Login</div>
                    <div class="card-body">
                        <ngb-alert *ngIf="errorMessage" class="alert-danger" (closed)="errorMessage = null" type="danger">{{errorMessage}}</ngb-alert>
                        <form [formGroup]="loginFormGroup">
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 text-md-right">Email</label>
                                <div class="col-md-6">
                                    <input type="email" id="email_address" class="form-control" name="email-address" 
                                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" 
                                    formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="button" class="btn btn-primary mr-2" (click)="doLogin()">Login</button>
                            </div>
                            <div class="col-md-6 offset-md-4 mt-3">
                                New User?
                                <a href="#" class="" routerLink="/register">
                                    Register
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
